In [9]:
import pandas as pd



ship_df = pd.read_csv('C:/Users/varun/Downloads/Ships.csv')

trips_df = pd.read_csv('C:/Users/varun/Downloads/CLIWOC15.csv',low_memory=False)

In [10]:
display(ship_df)

            ShipName         ShipType Nationality
0            LA ORBE          FRAGATA     Spanish
1         SAN CARLOS        PAQUEBOTE     Spanish
2     SANTA PERPETUA          FRAGATA     Spanish
3          LA LIEBRE          FRAGATA     Spanish
4        LA ATREVIDA          FRAGATA     Spanish
...              ...              ...         ...
1180          Dublin         3rd Rate     British
1181        Squirrel         6th Rate     British
1182        LA PERLA  FRAGATA DE GUER     Spanish
1183            Star       Brig-Sloop     British
1184           Janus         5th Rate     British

[1185 rows x 3 columns]

In [13]:
display(trips_df)

,RecID,InstAbbr,InstName,InstPlace,InstLand,NumberEntry,NameArchiveSet,ArchivePart,Specification,LogbookIdent,...,CargoMemo,ShipAndRig,ShipAndRigMemo,Biology,BiologyMemo,WarsAndFights,WarsAndFightsMemo,Illustrations,TrivialCorrection,OtherRem
0,108,MNM,Archivo Museo Naval Madrid,Madrid,Spain,NaN,NaN,NaN,NaN,"MS. 271, doc 15",...,NaN,0,NaN,0,NaN,0,NaN,0,0,"LA FRAGATA BRETAÑA, DESPUES DE HABER CORRIDO U..."
1,109,MNM,Archivo Museo Naval Madrid,Madrid,Spain,NaN,NaN,NaN,NaN,"MS. 271, doc 16",...,NaN,0,NaN,0,NaN,0,NaN,0,0,TODOS FONDEADOS SE DEDICAN A PONER UNA BATERIA...
2,110,MNM,Archivo Museo Naval Madrid,Madrid,Spain,NaN,NaN,NaN,NaN,"MS. 271, doc 16",...,NaN,0,NaN,0,NaN,0,NaN,0,0,TODOS FONDEADOS SE DEDICAN A PONER UNA BATERIA...
3,111,MNM,Archivo Museo Naval Madrid,Madrid,Spain,NaN,NaN,NaN,NaN,"MS. 271, doc 16",...,NaN,0,NaN,0,NaN,0,NaN,0,0,TODOS FONDEADOS SE DEDICAN A PONER UNA BATERIA...
4,112,MNM,Archivo Museo Naval Madrid,Madrid,Spain,NaN,NaN,NaN,NaN,"MS. 271, doc 16",...,NaN,0,NaN,0,NaN,0,NaN,0,0,TODOS FONDEADOS SE DEDICAN A PONER UNA BATERIA...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280275,280276,NMM,National Maritime Museum,Greenwich,United Kingdom,NaN,NaN,NaN,NaN,NMM ADM/L/E200,...,NaN,0,NaN,0,NaN,0,NaN,0,0,NaN
280276,280277,NMM,National Maritime Museum,Greenwich,United Kingdom,NaN,NaN,NaN,NaN,NMM ADM/L/E200,...,NaN,0,NaN,0,NaN,0,NaN,0,0,NaN
280277,280278,NMM,National Maritime Museum,Greenwich,United Kingdom,NaN,NaN,NaN,NaN,NMM ADM/L/E200,...,NaN,0,NaN,0,NaN,0,NaN,0,0,NaN
280278,280279,NMM,National Maritime Museum,Greenwich,United Kingdom,NaN,NaN,NaN,NaN,NMM ADM/L/E200,...,NaN,0,NaN,0,NaN,0,NaN,0,0,NaN
280279,280280,NMM,National Maritime Museum,Greenwich,United Kingdom,NaN,NaN,NaN,NaN,NMM ADM/L/E200,...,NaN,0,NaN,0,NaN,0,NaN,0,0,NaN

In [15]:
#convert to lower case
ship_df['ShipName'] = ship_df['ShipName'].str.lower()
ship_df['ShipType'] = ship_df['ShipType'].str.lower()
ship_df['Nationality'] = ship_df['Nationality'].str.lower()

ship_df = ship_df.fillna('')
grouped = ship_df.groupby(['ShipName', 'ShipType', 'Nationality']).size()
print(grouped[grouped>1])
print(len(grouped[grouped>1]))

ShipName                      ShipType         Nationality
acasta                        5th rate         british        2
alarm                         5th rate         british        2
andromache                    5th rate         british        2
argo                          5th rate         british        2
camel                         storeship        british        2
carysfort                     6th rate         british        2
concorde                      5th rate         british        2
cumberland                                     british        2
diana                         5th rate         british        2
diligencia                    fragata correo   spanish        2
dublin                        3rd rate         british        2
eagle                         3rd rate         british        2
el aguila                     fragata correo   spanish        2
el cuervo                     paquebote        spanish        2
el relámpago                  bergantín        spanish        2
euridice                      fregat           dutch          2
favourite                     sloop            british        2
ganges                        3rd rate         british        2
gouverneur generaal de klerk                   dutch          2
hector                        3rd rate         british        2
hornet                        sloop            british        2
intrepid                      3rd rate         british        2
isis                          4th rate         british        2
janus                         5th rate         british        2
jupiter                       4th rate         british        2
la perla                      fragata de guer  spanish        2
lancaster                     3rd rate         british        2
laurel                        6th rate         british        2
lilly                         sloop            british        2
minerva                       5th rate         british        2
otter                         sloop            british        2
quebec                        5th rate         british        2
raisonable                    3rd rate         british        2
ramilles                      3rd rate         british        2
romney                        4th rate         british        2
ruby                          3rd rate         british        2
sceptre                       3rd rate         british        2
scorpion                      sloop            british        2
seahorse                      6th rate         british        2
shaftesbury                                    british        2
squirrel                      6th rate         british        2
stag                          5th rate         british        2
star                          brig-sloop       british        2
swift                         sloop            british        2
terpsichore                   5th rate         british        2
triton                        6th rate         british        2
tromp                         4th rate         british        2
tweed                         5th rate         british        2
weymouth                      5th rate         british        2
zephyr                        oorlogssnauw     dutch          2
dtype: int64
50

In [17]:
shipdistinct_df = ship_df.drop_duplicates(subset=['ShipName', 'ShipType', 'Nationality'])
print(shipdistinct_df)

            ShipName         ShipType Nationality
0            la orbe          fragata     spanish
1         san carlos        paquebote     spanish
2     santa perpetua          fragata     spanish
3          la liebre          fragata     spanish
4        la atrevida          fragata     spanish
...              ...              ...         ...
1168       el aguila   fragata correo     spanish
1170       el aguila  fragata/ correo     spanish
1171       amsterdam                        dutch
1172       amsterdam       stoomschip       dutch
1173        euryalus         5th rate     british

[1135 rows x 3 columns]

In [19]:
display(shipdistinct_df)

            ShipName         ShipType Nationality
0            la orbe          fragata     spanish
1         san carlos        paquebote     spanish
2     santa perpetua          fragata     spanish
3          la liebre          fragata     spanish
4        la atrevida          fragata     spanish
...              ...              ...         ...
1168       el aguila   fragata correo     spanish
1170       el aguila  fragata/ correo     spanish
1171       amsterdam                        dutch
1172       amsterdam       stoomschip       dutch
1173        euryalus         5th rate     british

[1135 rows x 3 columns]

In [21]:
pd.set_option('display.max_columns', None)
columns = trips_df.columns.tolist()
print(columns)

['RecID', 'InstAbbr', 'InstName', 'InstPlace', 'InstLand', 'NumberEntry', 'NameArchiveSet', 'ArchivePart', 'Specification', 'LogbookIdent', 'LogbookLanguage', 'EnteredBy', 'DASnumber', 'ImageNumber', 'VoyageFrom', 'VoyageTo', 'ShipName', 'ShipType', 'Company', 'OtherShipInformation', 'Nationality', 'Name1', 'Rank1', 'Name2', 'Rank2', 'Name3', 'Rank3', 'ZeroMeridian', 'StartDay', 'TimeGen', 'ObsGen', 'ReferenceCourse', 'ReferenceWindDirection', 'DistUnits', 'DistToLandmarkUnits', 'DistTravelledUnits', 'LongitudeUnits', 'VoyageIni', 'UnitsOfMeasurement', 'Calendar', 'Year', 'Month', 'Day', 'DayOfTheWeek', 'PartDay', 'TimeOB', 'Watch', 'Glasses', 'UTC', 'CMG', 'ShipSpeed', 'Distance', 'drLatDeg', 'drLatMin', 'drLatSec', 'drLatHem', 'drLongDeg', 'drLongMin', 'drLongSec', 'drLongHem', 'LatDeg', 'LatMin', 'LatSec', 'LatHem', 'LongDeg', 'LongMin', 'LongSec', 'LongHem', 'Lat3', 'Lon3', 'LatInd', 'LonInd', 'PosCoastal', 'EncName', 'EncNat', 'EncRem', 'Anchored', 'AnchorPlace', 'LMname1', 'LMdirection1', 'LMdistance1', 'LMname2', 'LMdirection2', 'LMdistance2', 'LMname3', 'LMdirection3', 'LMdistance3', 'EstError', 'ApplError', 'WindDirection', 'AllWindDirections', 'WindForce', 'WindForceScale', 'AllWindForces', 'WindScale', 'Weather', 'ShapeClouds', 'DirClouds', 'Clearness', 'PrecipitationDescriptor', 'CloudFrac', 'Gusts', 'Rain', 'Fog', 'Snow', 'Thunder', 'Hail', 'SeaIce', 'Duplicate', 'Release', 'SSTReading', 'SSTReadingUnits', 'StateSea', 'CurrentDir', 'CurrentSpeed', 'TairReading', 'AirThermReadingUnits', 'ProbTair', 'BaroReading', 'AirPressureReadingUnits', 'BarometerType', 'BarTempReading', 'BarTempReadingUnits', 'HumReading', 'HumidityUnits', 'HumidityMethod', 'PumpWater', 'WaterAtThePumpUnits', 'LifeOnBoard', 'LifeOnBoardMemo', 'Cargo', 'CargoMemo', 'ShipAndRig', 'ShipAndRigMemo', 'Biology', 'BiologyMemo', 'WarsAndFights', 'WarsAndFightsMemo', 'Illustrations', 'TrivialCorrection', 'OtherRem']

In [23]:
#convert to lower case
trips_df['ShipName'] = trips_df['ShipName'].str.lower()
trips_df['ShipType'] = trips_df['ShipType'].str.lower()
trips_df['Nationality'] = trips_df['Nationality'].str.lower()

trips_df = trips_df.fillna('')

In [24]:
#left join on ship_df and trip_df
shiptrips_df =pd.merge(trips_df,
                    shipdistinct_df,
                    how = 'left',
                    on=['ShipName', 'ShipType', 'Nationality'],
                    indicator=True)
display(shiptrips_df)

,RecID,InstAbbr,InstName,InstPlace,InstLand,NumberEntry,NameArchiveSet,ArchivePart,Specification,LogbookIdent,LogbookLanguage,EnteredBy,DASnumber,ImageNumber,VoyageFrom,VoyageTo,ShipName,ShipType,Company,OtherShipInformation,Nationality,Name1,Rank1,Name2,Rank2,Name3,Rank3,ZeroMeridian,StartDay,TimeGen,ObsGen,ReferenceCourse,ReferenceWindDirection,DistUnits,DistToLandmarkUnits,DistTravelledUnits,LongitudeUnits,VoyageIni,UnitsOfMeasurement,Calendar,Year,Month,Day,DayOfTheWeek,PartDay,TimeOB,Watch,Glasses,UTC,CMG,ShipSpeed,Distance,drLatDeg,drLatMin,drLatSec,drLatHem,drLongDeg,drLongMin,drLongSec,drLongHem,LatDeg,LatMin,LatSec,LatHem,LongDeg,LongMin,LongSec,LongHem,Lat3,Lon3,LatInd,LonInd,PosCoastal,EncName,EncNat,EncRem,Anchored,AnchorPlace,LMname1,LMdirection1,LMdistance1,LMname2,LMdirection2,LMdistance2,LMname3,LMdirection3,LMdistance3,EstError,ApplError,WindDirection,AllWindDirections,WindForce,WindForceScale,AllWindForces,WindScale,Weather,ShapeClouds,DirClouds,Clearness,PrecipitationDescriptor,CloudFrac,Gusts,Rain,Fog,Snow,Thunder,Hail,SeaIce,Duplicate,Release,SSTReading,SSTReadingUnits,StateSea,CurrentDir,CurrentSpeed,TairReading,AirThermReadingUnits,ProbTair,BaroReading,AirPressureReadingUnits,BarometerType,BarTempReading,BarTempReadingUnits,HumReading,HumidityUnits,HumidityMethod,PumpWater,WaterAtThePumpUnits,LifeOnBoard,LifeOnBoardMemo,Cargo,CargoMemo,ShipAndRig,ShipAndRigMemo,Biology,BiologyMemo,WarsAndFights,WarsAndFightsMemo,Illustrations,TrivialCorrection,OtherRem,_merge
0,108,MNM,Archivo Museo Naval Madrid,Madrid,Spain,,,,,"MS. 271, doc 15",Spanish,,,,ISLA DE ALBIMOR EN LAS GALAPAGOS,PACOCHA,la orbe,fragata,,,spanish,ANTONIO GOMEZ BARREDA,COMANDANTE DE DIVISION,,,,,DESCONOCIDO,Unknown,,Noticia que da Domingo de Orue al Virrey del P...,Unknown,Unknown,DESCONOCIDO,,,360 degrees,18000227.0,,2,1800,5,2,,,12,,,1800050212,,,,,,,,,,,,,,,,,,,,,,6,6,0,,,,0,,,,,,,,,,,,,,,,,,,,,,,,,0,0,0,0,0,0,0,0,CLIWOC Version 1.0,,,MUCHA MAREJADA,,,,,,,,,,,,,,,,0,,0,,0,,0,,0,,0,0,"LA FRAGATA BRETAÑA, DESPUES DE HABER CORRIDO U...",both
1,109,MNM,Archivo Museo Naval Madrid,Madrid,Spain,,,,,"MS. 271, doc 16",Spanish,,,,DESCONOCIDO (CREO QUE ACAPULCO),SAN BLAS,san carlos,paquebote,,,spanish,SALVADOR FIDALGO,TENIENTE DE NAVIO,,,,,DESCONOCIDO,Unknown,,"Extracto del tte. Salvador Fidalgo, del San Ca...",Unknown,Unknown,DESCONOCIDO,,,360 degrees,17900203.0,,2,1790,4,11,,,12,,,1790041112,,,,,,,,,,,,,,,,,,,,,,6,6,1,,,,1,,,,,,,,,,,,,,,,,,,,,,,,,0,0,0,0,0,0,0,0,CLIWOC Version 1.0,,,,,,,,,,,,,,,,,,,0,,0,,0,,0,,0,,0,0,TODOS FONDEADOS SE DEDICAN A PONER UNA BATERIA...,both
2,110,MNM,Archivo Museo Naval Madrid,Madrid,Spain,,,,,"MS. 271, doc 16",Spanish,,,,DESCONOCIDO (CREO QUE ACAPULCO),SAN BLAS,san carlos,paquebote,,,spanish,SALVADOR FIDALGO,TENIENTE DE NAVIO,,,,,DESCONOCIDO,Unknown,,"Extracto del tte. Salvador Fidalgo, del San Ca...",Unknown,Unknown,DESCONOCIDO,,,360 degrees,17900203.0,,2,1790,4,12,,,12,,,1790041212,,,,,,,,,,,,,,,,,,,,,,6,6,1,,,,1,,,,,,,,,,,,,,,,,,,,,,,,,0,0,0,0,0,0,0,0,CLIWOC Version 1.0,,,,,,,,,,,,,,,,,,,0,,0,,0,,0,,0,,0,0,TODOS FONDEADOS SE DEDICAN A PONER UNA BATERIA...,both
3,111,MNM,Archivo Museo Naval Madrid,Madrid,Spain,,,,,"MS. 271, doc 16",Spanish,,,,DESCONOCIDO (CREO QUE ACAPULCO),SAN BLAS,san carlos,paquebote,,,spanish,SALVADOR FIDALGO,TENIENTE DE NAVIO,,,,,DESCONOCIDO,Unknown,,"Extracto del tte. Salvador Fidalgo, del San Ca...",Unknown,Unknown,DESCONOCIDO,,,360 degrees,17900203.0,,2,1790,4,13,,,12,,,1790041312,,,,,,,,,,,,,,,,,,,,,,6,6,1,,,,1,,,,,,,,,,,,,,,,,,,,,,,,,0,0,0,0,0,0,0,0,CLIWOC Version 1.0,,,,,,,,,,,,,,,,,,,0,,0,,0,,0,,0,,0,0,TODOS FONDEADOS SE DEDICAN A PONER UNA BATERIA...,both
4,112,MNM,Archivo Museo Naval Madrid,Madrid,Spain,,,,,"MS. 271, doc 16",Spanish,,,,DESCONOCIDO (CREO QUE ACAPULCO),SAN BLAS,san carlos,paquebote,,,spanish,SALVADOR FIDALGO,TENIENTE DE NAVIO,,,,,DESCONOCIDO,Unknown,,"Extracto del tte. Salvador Fidalgo, del San Ca...",Unknown,Unknown,DESCONOCIDO,,,360 degrees,17900203.0,,2,1790,4,14,,,12,,,1790041412,,,,,,,,,,,,,,,,,,,,,,6,6,1,,,,1,,,,,,,,,,,,,,,,,,,,,,,,,0,0,0,0,0,0,0,0,CLIWOC Version 1.0,,,,,,,,,,,,,,,,,,,0,,0,,0,,0,,0,,0,0,TODOS FONDEADOS SE DEDICAN A PONER UNA BATERIA...,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280275,280276,NMM,National Maritime Museum,Greenwich,United Kingdom,,,,,NMM ADM/L/E200,British,,,,Cork,Madeira,euryalus,5th rate,RN,36g 943bm,british,Henry Blackwood,Captain,Thomas Methuers,1st Officer/Master,,,Greenwich,12,,,Unknown,Unknown,Unknown,Leagues,nm,Unknown,18050128.0,standard,2,1805,2,4,Monday,,12,,,1805020413,S60W,,84.0,42.0,47.0,0.0,N,17.0,30.0,0.0,W,,,,,,,,,42.7833,-17.5,1,1,0,,,,0,,Madeira,S3E,199.0,,,,,,,,,W,W,light breezes,,"PM fresh breezes, AM light breezes",,,,,,,,0,0,0,0,0,0,0,0,CLIWOC Version 1.5,,,,,,,,,,,,,,,,,,,0,,0,,0,,0,,0,,0,0,,both
280276,280277,NMM,National Maritime Museum,Greenwich,United Kingdom,,,,,NMM ADM/L/E200,British,,,,Cork,Madeira,euryalus,5th rate,RN,36g 943bm,british,Henry Blackwood,Captain,Thomas Methuers,1st Officer/Master,,,Greenwich,12,,,Unknown,Unknown,Unknown,Leagues,nm,Unknown,18050128.0,standard,2,1805,2,5,Tuesday,,12,,,1805020513,S18W,,107.0,41.0,5.0,0.0,N,16.0,45.0,0.0,W,,,,,,,,,41.0833,-16.75,1,1,0,,,,0,,Madeira,S,165.0,,,,,,,,,WNW,"WSW, W, variable, WNW",strong breezes,,"PM fresh gales, AM strong breezes and squally",,,,,hazy,rain,,0,0,0,0,0,0,0,0,CLIWOC Version 1.5,,,,,,,,,,,,,,,,,,,0,,0,,0,,0,,0,,0,0,,both
280277,280278,NMM,National Maritime Museum,Greenwich,United Kingdom,,,,,NMM ADM/L/E200,British,,,,Cork,Madeira,euryalus,5th rate,RN,36g 943bm,british,Henry Blackwood,Captain,Thomas Methuers,1st Officer/Master,,,Greenwich,12,,,Unknown,Unknown,Unknown,Leagues,nm,Unknown,18050128.0,standard,2,1805,2,6,Wednesday,,12,,,1805020613,S11W,,189.0,38.0,49.0,0.0,N,17.0,17.0,0.0,W,,,,,,,,,38.8167,-17.2833,1,1,0,,,,0,,Madeira,S4W,120.0,,,,,,,,,N,"NW, NNW, N",strong gales,,"PM strong breezes, AM strong gales and squally",,,,,,,,0,0,0,0,0,0,0,0,CLIWOC Version 1.5,,,,,,,,,,,,,,,,,,,0,,0,,0,,0,,0,,0,0,,both
280278,280279,NMM,National Maritime Museum,Greenwich,United Kingdom,,,,,NMM ADM/L/E200,British,,,,Cork,Madeira,euryalus,5th rate,RN,36g 943bm,british,Henry Blackwood,Captain,Thomas Methuers,1st Officer/Master,,,Greenwich,12,,,Unknown,Unknown,Unknown,Leagues,nm,Unknown,18050128.0,standard,2,1805,2,7,Thursday,,12,,,1805020713,S,,70.0,37.0,39.0,0.0,N,16.0,46.0,0.0,W,,,,,,,,,37.65,-16.7667,1,1,0,,,,0,,Madeira,S,96.0,,,,,,,,,NNW,"NNE, WbS, NNW",squally,,"PM moderate, AM squally",,,,,,,,0,0,0,0,0,0,0,0,CLIWOC Version 1.5,,,,,,,,,,,,,,,,,,,0,,0,,0,,0,,0,,0,0,,both
280279,280280,NMM,National Maritime Museum,Greenwich,United Kingdom,,,,,NMM ADM/L/E200,British,,,,Cork,Madeira,euryalus,5th rate,RN,36g 943bm,british,Henry Blackwood,Captain,Thomas Methuers,1st Officer/Master,,,Greenwich,12,,,Unknown,Unknown,Unknown,Leagues,nm,Unknown,18050128.0,standard,2,1805,2,8,Friday,,12,,,1805020813,S66E,,37.0,37.0,24.0,0.0,N,16.0,3.0,0.0,W,,,,,,,,,37.4,-16.05,1,1,0,,,,0,,Madeira,S6W,92.0,,,,,,,,,variable,variable,light airs,,light airs,,,,,clear,,,0,0,0,0,0,0,0,0,CLIWOC Version 1.5,,,,,,,,,,,,,,,,,,,0,,0,,0,,0,,0,,0,0,,both

In [25]:
shiptrips_df['_merge'].value_counts()

_merge
both          277150
left_only       3130
right_only         0
Name: count, dtype: int64

In [26]:
#list out all values for left only
filtered_ships = shiptrips_df.query('_merge == "left_only"').filter(['ShipName', 'ShipType', 'Nationality'])
print(filtered_ships)

                         ShipName ShipType Nationality
5829    la mascanin y la castries  fragata     spanish
5830    la mascanin y la castries  fragata     spanish
5831    la mascanin y la castries  fragata     spanish
5847    la mascanin y la castries  fragata     spanish
5848    la mascanin y la castries  fragata     spanish
...                           ...      ...         ...
274341             desconocido-28    navío     spanish
274342             desconocido-28    navío     spanish
274343             desconocido-28    navío     spanish
274344             desconocido-28    navío     spanish
274345             desconocido-28    navío     spanish

[3130 rows x 3 columns]

In [27]:
#filter out the distinct values and update the table
filtered_ships_distinct = filtered_ships.drop_duplicates(subset=['ShipName', 'ShipType', 'Nationality'])
display(filtered_ships_distinct)

                         ShipName      ShipType Nationality
5829    la mascanin y la castries       fragata     spanish
28522                dover castle                   british
44048                     regulus     troopship     british
58432                       brune         sloop     british
72790                        zaan        fregat       dutch
112494                   dordregt  oorlogsschip       dutch
167934                  newcastle                   british
205441                    meermin          brik       dutch
242620                  la suerte     bergantín     spanish
245278                  diligence         sloop     british
274078             desconocido-28         navío     spanish

In [29]:
dimship = pd.concat([filtered_ships_distinct, shipdistinct_df], ignore_index=True)
display(dimship)

                       ShipName         ShipType Nationality
0     la mascanin y la castries          fragata     spanish
1                  dover castle                      british
2                       regulus        troopship     british
3                         brune            sloop     british
4                          zaan           fregat       dutch
...                         ...              ...         ...
1141                  el aguila   fragata correo     spanish
1142                  el aguila  fragata/ correo     spanish
1143                  amsterdam                        dutch
1144                  amsterdam       stoomschip       dutch
1145                   euryalus         5th rate     british

[1146 rows x 3 columns]

In [35]:
dimship = dimship.reset_index(drop=True)
dimship['ID'] = dimship.index + 1
display(dimship)

                       ShipName         ShipType Nationality    ID
0     la mascanin y la castries          fragata     spanish     1
1                  dover castle                      british     2
2                       regulus        troopship     british     3
3                         brune            sloop     british     4
4                          zaan           fregat       dutch     5
...                         ...              ...         ...   ...
1141                  el aguila   fragata correo     spanish  1142
1142                  el aguila  fragata/ correo     spanish  1143
1143                  amsterdam                        dutch  1144
1144                  amsterdam       stoomschip       dutch  1145
1145                   euryalus         5th rate     british  1146

[1146 rows x 4 columns]

In [37]:
display(trips_df)

,RecID,InstAbbr,InstName,InstPlace,InstLand,NumberEntry,NameArchiveSet,ArchivePart,Specification,LogbookIdent,LogbookLanguage,EnteredBy,DASnumber,ImageNumber,VoyageFrom,VoyageTo,ShipName,ShipType,Company,OtherShipInformation,Nationality,Name1,Rank1,Name2,Rank2,Name3,Rank3,ZeroMeridian,StartDay,TimeGen,ObsGen,ReferenceCourse,ReferenceWindDirection,DistUnits,DistToLandmarkUnits,DistTravelledUnits,LongitudeUnits,VoyageIni,UnitsOfMeasurement,Calendar,Year,Month,Day,DayOfTheWeek,PartDay,TimeOB,Watch,Glasses,UTC,CMG,ShipSpeed,Distance,drLatDeg,drLatMin,drLatSec,drLatHem,drLongDeg,drLongMin,drLongSec,drLongHem,LatDeg,LatMin,LatSec,LatHem,LongDeg,LongMin,LongSec,LongHem,Lat3,Lon3,LatInd,LonInd,PosCoastal,EncName,EncNat,EncRem,Anchored,AnchorPlace,LMname1,LMdirection1,LMdistance1,LMname2,LMdirection2,LMdistance2,LMname3,LMdirection3,LMdistance3,EstError,ApplError,WindDirection,AllWindDirections,WindForce,WindForceScale,AllWindForces,WindScale,Weather,ShapeClouds,DirClouds,Clearness,PrecipitationDescriptor,CloudFrac,Gusts,Rain,Fog,Snow,Thunder,Hail,SeaIce,Duplicate,Release,SSTReading,SSTReadingUnits,StateSea,CurrentDir,CurrentSpeed,TairReading,AirThermReadingUnits,ProbTair,BaroReading,AirPressureReadingUnits,BarometerType,BarTempReading,BarTempReadingUnits,HumReading,HumidityUnits,HumidityMethod,PumpWater,WaterAtThePumpUnits,LifeOnBoard,LifeOnBoardMemo,Cargo,CargoMemo,ShipAndRig,ShipAndRigMemo,Biology,BiologyMemo,WarsAndFights,WarsAndFightsMemo,Illustrations,TrivialCorrection,OtherRem
0,108,MNM,Archivo Museo Naval Madrid,Madrid,Spain,,,,,"MS. 271, doc 15",Spanish,,,,ISLA DE ALBIMOR EN LAS GALAPAGOS,PACOCHA,la orbe,fragata,,,spanish,ANTONIO GOMEZ BARREDA,COMANDANTE DE DIVISION,,,,,DESCONOCIDO,Unknown,,Noticia que da Domingo de Orue al Virrey del P...,Unknown,Unknown,DESCONOCIDO,,,360 degrees,18000227.0,,2,1800,5,2,,,12,,,1800050212,,,,,,,,,,,,,,,,,,,,,,6,6,0,,,,0,,,,,,,,,,,,,,,,,,,,,,,,,0,0,0,0,0,0,0,0,CLIWOC Version 1.0,,,MUCHA MAREJADA,,,,,,,,,,,,,,,,0,,0,,0,,0,,0,,0,0,"LA FRAGATA BRETAÑA, DESPUES DE HABER CORRIDO U..."
1,109,MNM,Archivo Museo Naval Madrid,Madrid,Spain,,,,,"MS. 271, doc 16",Spanish,,,,DESCONOCIDO (CREO QUE ACAPULCO),SAN BLAS,san carlos,paquebote,,,spanish,SALVADOR FIDALGO,TENIENTE DE NAVIO,,,,,DESCONOCIDO,Unknown,,"Extracto del tte. Salvador Fidalgo, del San Ca...",Unknown,Unknown,DESCONOCIDO,,,360 degrees,17900203.0,,2,1790,4,11,,,12,,,1790041112,,,,,,,,,,,,,,,,,,,,,,6,6,1,,,,1,,,,,,,,,,,,,,,,,,,,,,,,,0,0,0,0,0,0,0,0,CLIWOC Version 1.0,,,,,,,,,,,,,,,,,,,0,,0,,0,,0,,0,,0,0,TODOS FONDEADOS SE DEDICAN A PONER UNA BATERIA...
2,110,MNM,Archivo Museo Naval Madrid,Madrid,Spain,,,,,"MS. 271, doc 16",Spanish,,,,DESCONOCIDO (CREO QUE ACAPULCO),SAN BLAS,san carlos,paquebote,,,spanish,SALVADOR FIDALGO,TENIENTE DE NAVIO,,,,,DESCONOCIDO,Unknown,,"Extracto del tte. Salvador Fidalgo, del San Ca...",Unknown,Unknown,DESCONOCIDO,,,360 degrees,17900203.0,,2,1790,4,12,,,12,,,1790041212,,,,,,,,,,,,,,,,,,,,,,6,6,1,,,,1,,,,,,,,,,,,,,,,,,,,,,,,,0,0,0,0,0,0,0,0,CLIWOC Version 1.0,,,,,,,,,,,,,,,,,,,0,,0,,0,,0,,0,,0,0,TODOS FONDEADOS SE DEDICAN A PONER UNA BATERIA...
3,111,MNM,Archivo Museo Naval Madrid,Madrid,Spain,,,,,"MS. 271, doc 16",Spanish,,,,DESCONOCIDO (CREO QUE ACAPULCO),SAN BLAS,san carlos,paquebote,,,spanish,SALVADOR FIDALGO,TENIENTE DE NAVIO,,,,,DESCONOCIDO,Unknown,,"Extracto del tte. Salvador Fidalgo, del San Ca...",Unknown,Unknown,DESCONOCIDO,,,360 degrees,17900203.0,,2,1790,4,13,,,12,,,1790041312,,,,,,,,,,,,,,,,,,,,,,6,6,1,,,,1,,,,,,,,,,,,,,,,,,,,,,,,,0,0,0,0,0,0,0,0,CLIWOC Version 1.0,,,,,,,,,,,,,,,,,,,0,,0,,0,,0,,0,,0,0,TODOS FONDEADOS SE DEDICAN A PONER UNA BATERIA...
4,112,MNM,Archivo Museo Naval Madrid,Madrid,Spain,,,,,"MS. 271, doc 16",Spanish,,,,DESCONOCIDO (CREO QUE ACAPULCO),SAN BLAS,san carlos,paquebote,,,spanish,SALVADOR FIDALGO,TENIENTE DE NAVIO,,,,,DESCONOCIDO,Unknown,,"Extracto del tte. Salvador Fidalgo, del San Ca...",Unknown,Unknown,DESCONOCIDO,,,360 degrees,17900203.0,,2,1790,4,14,,,12,,,1790041412,,,,,,,,,,,,,,,,,,,,,,6,6,1,,,,1,,,,,,,,,,,,,,,,,,,,,,,,,0,0,0,0,0,0,0,0,CLIWOC Version 1.0,,,,,,,,,,,,,,,,,,,0,,0,,0,,0,,0,,0,0,TODOS FONDEADOS SE DEDICAN A PONER UNA BATERIA...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280275,280276,NMM,National Maritime Museum,Greenwich,United Kingdom,,,,,NMM ADM/L/E200,British,,,,Cork,Madeira,euryalus,5th rate,RN,36g 943bm,british,Henry Blackwood,Captain,Thomas Methuers,1st Officer/Master,,,Greenwich,12,,,Unknown,Unknown,Unknown,Leagues,nm,Unknown,18050128.0,standard,2,1805,2,4,Monday,,12,,,1805020413,S60W,,84.0,42.0,47.0,0.0,N,17.0,30.0,0.0,W,,,,,,,,,42.7833,-17.5,1,1,0,,,,0,,Madeira,S3E,199.0,,,,,,,,,W,W,light breezes,,"PM fresh breezes, AM light breezes",,,,,,,,0,0,0,0,0,0,0,0,CLIWOC Version 1.5,,,,,,,,,,,,,,,,,,,0,,0,,0,,0,,0,,0,0,
280276,280277,NMM,National Maritime Museum,Greenwich,United Kingdom,,,,,NMM ADM/L/E200,British,,,,Cork,Madeira,euryalus,5th rate,RN,36g 943bm,british,Henry Blackwood,Captain,Thomas Methuers,1st Officer/Master,,,Greenwich,12,,,Unknown,Unknown,Unknown,Leagues,nm,Unknown,18050128.0,standard,2,1805,2,5,Tuesday,,12,,,1805020513,S18W,,107.0,41.0,5.0,0.0,N,16.0,45.0,0.0,W,,,,,,,,,41.0833,-16.75,1,1,0,,,,0,,Madeira,S,165.0,,,,,,,,,WNW,"WSW, W, variable, WNW",strong breezes,,"PM fresh gales, AM strong breezes and squally",,,,,hazy,rain,,0,0,0,0,0,0,0,0,CLIWOC Version 1.5,,,,,,,,,,,,,,,,,,,0,,0,,0,,0,,0,,0,0,
280277,280278,NMM,National Maritime Museum,Greenwich,United Kingdom,,,,,NMM ADM/L/E200,British,,,,Cork,Madeira,euryalus,5th rate,RN,36g 943bm,british,Henry Blackwood,Captain,Thomas Methuers,1st Officer/Master,,,Greenwich,12,,,Unknown,Unknown,Unknown,Leagues,nm,Unknown,18050128.0,standard,2,1805,2,6,Wednesday,,12,,,1805020613,S11W,,189.0,38.0,49.0,0.0,N,17.0,17.0,0.0,W,,,,,,,,,38.8167,-17.2833,1,1,0,,,,0,,Madeira,S4W,120.0,,,,,,,,,N,"NW, NNW, N",strong gales,,"PM strong breezes, AM strong gales and squally",,,,,,,,0,0,0,0,0,0,0,0,CLIWOC Version 1.5,,,,,,,,,,,,,,,,,,,0,,0,,0,,0,,0,,0,0,
280278,280279,NMM,National Maritime Museum,Greenwich,United Kingdom,,,,,NMM ADM/L/E200,British,,,,Cork,Madeira,euryalus,5th rate,RN,36g 943bm,british,Henry Blackwood,Captain,Thomas Methuers,1st Officer/Master,,,Greenwich,12,,,Unknown,Unknown,Unknown,Leagues,nm,Unknown,18050128.0,standard,2,1805,2,7,Thursday,,12,,,1805020713,S,,70.0,37.0,39.0,0.0,N,16.0,46.0,0.0,W,,,,,,,,,37.65,-16.7667,1,1,0,,,,0,,Madeira,S,96.0,,,,,,,,,NNW,"NNE, WbS, NNW",squally,,"PM moderate, AM squally",,,,,,,,0,0,0,0,0,0,0,0,CLIWOC Version 1.5,,,,,,,,,,,,,,,,,,,0,,0,,0,,0,,0,,0,0,
280279,280280,NMM,National Maritime Museum,Greenwich,United Kingdom,,,,,NMM ADM/L/E200,British,,,,Cork,Madeira,euryalus,5th rate,RN,36g 943bm,british,Henry Blackwood,Captain,Thomas Methuers,1st Officer/Master,,,Greenwich,12,,,Unknown,Unknown,Unknown,Leagues,nm,Unknown,18050128.0,standard,2,1805,2,8,Friday,,12,,,1805020813,S66E,,37.0,37.0,24.0,0.0,N,16.0,3.0,0.0,W,,,,,,,,,37.4,-16.05,1,1,0,,,,0,,Madeira,S6W,92.0,,,,,,,,,variable,variable,light airs,,light airs,,,,,clear,,,0,0,0,0,0,0,0,0,CLIWOC Version 1.5,,,,,,,,,,,,,,,,,,,0,,0,,0,,0,,0,,0,0,

In [39]:
newdimship = dimship[['ID','ShipName', 'ShipType', 'Nationality']]
facttrip = trips_df.merge(newdimship, on=['ShipName', 'ShipType', 'Nationality'], how='left')
facttrip.rename(columns={'ID': 'DimShipID'}, inplace=True)
facttrip=facttrip[['DimShipID','ShipName','ShipType','Nationality','RecID','Year','Month','Day','PosCoastal','LatInd','LonInd']]
display(facttrip)

,DimShipID,ShipName,ShipType,Nationality,RecID,Year,Month,Day,PosCoastal,LatInd,LonInd
0,12,la orbe,fragata,spanish,108,1800,5,2,0,6,6
1,13,san carlos,paquebote,spanish,109,1790,4,11,1,6,6
2,13,san carlos,paquebote,spanish,110,1790,4,12,1,6,6
3,13,san carlos,paquebote,spanish,111,1790,4,13,1,6,6
4,13,san carlos,paquebote,spanish,112,1790,4,14,1,6,6
...,...,...,...,...,...,...,...,...,...,...,...
280275,1146,euryalus,5th rate,british,280276,1805,2,4,0,1,1
280276,1146,euryalus,5th rate,british,280277,1805,2,5,0,1,1
280277,1146,euryalus,5th rate,british,280278,1805,2,6,0,1,1
280278,1146,euryalus,5th rate,british,280279,1805,2,7,0,1,1
280279,1146,euryalus,5th rate,british,280280,1805,2,8,0,1,1

In [41]:
facttrip =facttrip.reset_index(drop=True)
facttrip['FactTripID'] = facttrip.index + 1
facttrip = facttrip[['FactTripID'] + [col for col in facttrip.columns if col != 'FactTripID']]
display(facttrip)

,FactTripID,DimShipID,ShipName,ShipType,Nationality,RecID,Year,Month,Day,PosCoastal,LatInd,LonInd
0,1,12,la orbe,fragata,spanish,108,1800,5,2,0,6,6
1,2,13,san carlos,paquebote,spanish,109,1790,4,11,1,6,6
2,3,13,san carlos,paquebote,spanish,110,1790,4,12,1,6,6
3,4,13,san carlos,paquebote,spanish,111,1790,4,13,1,6,6
4,5,13,san carlos,paquebote,spanish,112,1790,4,14,1,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...
280275,280276,1146,euryalus,5th rate,british,280276,1805,2,4,0,1,1
280276,280277,1146,euryalus,5th rate,british,280277,1805,2,5,0,1,1
280277,280278,1146,euryalus,5th rate,british,280278,1805,2,6,0,1,1
280278,280279,1146,euryalus,5th rate,british,280279,1805,2,7,0,1,1
280279,280280,1146,euryalus,5th rate,british,280280,1805,2,8,0,1,1

In [43]:
#create new column with date as a string
facttrip['StringDate'] = facttrip['Day'].astype(str).str.zfill(2) + '-' + facttrip['Month'].astype(str).str.zfill(2) + '-' + facttrip['Year'].astype(str)

#create new column to convert DateString to a datetime object
facttrip['DateTimestamp'] = pd.to_datetime(facttrip['StringDate'], format='%d-%m-%Y', errors='coerce')
display(facttrip)

,FactTripID,DimShipID,ShipName,ShipType,Nationality,RecID,Year,Month,Day,PosCoastal,LatInd,LonInd,StringDate,DateTimestamp
0,1,12,la orbe,fragata,spanish,108,1800,5,2,0,6,6,02-05-1800,1800-05-02
1,2,13,san carlos,paquebote,spanish,109,1790,4,11,1,6,6,11-04-1790,1790-04-11
2,3,13,san carlos,paquebote,spanish,110,1790,4,12,1,6,6,12-04-1790,1790-04-12
3,4,13,san carlos,paquebote,spanish,111,1790,4,13,1,6,6,13-04-1790,1790-04-13
4,5,13,san carlos,paquebote,spanish,112,1790,4,14,1,6,6,14-04-1790,1790-04-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280275,280276,1146,euryalus,5th rate,british,280276,1805,2,4,0,1,1,04-02-1805,1805-02-04
280276,280277,1146,euryalus,5th rate,british,280277,1805,2,5,0,1,1,05-02-1805,1805-02-05
280277,280278,1146,euryalus,5th rate,british,280278,1805,2,6,0,1,1,06-02-1805,1805-02-06
280278,280279,1146,euryalus,5th rate,british,280279,1805,2,7,0,1,1,07-02-1805,1805-02-07
280279,280280,1146,euryalus,5th rate,british,280280,1805,2,8,0,1,1,08-02-1805,1805-02-08

In [45]:
print(facttrip[0:10])

   FactTripID  DimShipID    ShipName   ShipType Nationality  RecID  Year  \
0           1         12     la orbe    fragata     spanish    108  1800
1           2         13  san carlos  paquebote     spanish    109  1790
2           3         13  san carlos  paquebote     spanish    110  1790
3           4         13  san carlos  paquebote     spanish    111  1790
4           5         13  san carlos  paquebote     spanish    112  1790
5           6         13  san carlos  paquebote     spanish    113  1790
6           7         12     la orbe    fragata     spanish    114  1800
7           8         12     la orbe    fragata     spanish    115  1800
8           9         12     la orbe    fragata     spanish    116  1800
9          10         12     la orbe    fragata     spanish    117  1800

   Month  Day  PosCoastal  LatInd  LonInd  StringDate DateTimestamp
0      5    2           0       6       6  02-05-1800    1800-05-02
1      4   11           1       6       6  11-04-1790    1790-04-11
2      4   12           1       6       6  12-04-1790    1790-04-12
3      4   13           1       6       6  13-04-1790    1790-04-13
4      4   14           1       6       6  14-04-1790    1790-04-14
5      4   15           1       6       6  15-04-1790    1790-04-15
6      3   31           0       6       6  31-03-1800    1800-03-31
7      4    1           0       2       6  01-04-1800    1800-04-01
8      4    2           0       6       6  02-04-1800    1800-04-02
9      4    3           0       6       6  03-04-1800    1800-04-03

In [114]:

# pd.to_datetime('15-04-1677', format='%d-%m-%Y', errors='coerce')
# facttrip['DateErrorFlag']=facttrip['DateTimestamp'].isna()
# defaultdate = pd.to_datetime('01-01-2000',format='%d-%m-%Y')
# facttrip.loc[facttrip['DateErrorFlag'],'DateTimestamp']=defaultdate

print(facttrip[facttrip['DateTimestamp'].isna()])

Empty DataFrame
Columns: [FactTripID, DimShipID, ShipName, ShipType, Nationality, RecID, Year, Month, Day, PosCoastal, LatInd, LonInd, StringDate, DateTimestamp, DateErrorFlag]
Index: []

In [97]:
flagged_rows = facttrip[facttrip['DateTimestamp'] == '01-01-2000']
print(flagged_rows)

        FactTripID  DimShipID                        ShipName ShipType  \
61704        61705        291                      l'ambition
80622        80623        388                     frankendaal
102569      102570        470                theodora en sara
103629      103630        476                          africa
103630      103631        476                          africa
...            ...        ...                             ...      ...
273984      273985       1121  nasa del rosario,stma trinidad    navio
273985      273986       1121  nasa del rosario,stma trinidad    navio
273986      273987       1121  nasa del rosario,stma trinidad    navio
273987      273988       1121  nasa del rosario,stma trinidad    navio
273988      273989       1121  nasa del rosario,stma trinidad    navio

       Nationality   RecID  Year  Month  Day  PosCoastal  LatInd  LonInd  \
61704       french   61705  1764      9   31           0       1       2
80622        dutch   80623  1788      6   31           0       6       6
102569       dutch  102570  1841      6   31           0       2       2
103629       dutch  103630  1677      4   15           1       1       6
103630       dutch  103631  1677      4   16           1       1       6
...            ...     ...   ...    ...  ...         ...     ...     ...
273984     spanish  273955  1676      3    6           0       6       6
273985     spanish  273956  1676      3   23           0       6       6
273986     spanish  273957  1676      3   28           0       6       6
273987     spanish  273958  1676      4    5           0       6       6
273988     spanish  273959  1676      4   20           0       6       6

        StringDate DateTimestamp  DateErrorFlag
61704   31-09-1764    2000-01-01          False
80622   31-06-1788    2000-01-01          False
102569  31-06-1841    2000-01-01          False
103629  15-04-1677    2000-01-01          False
103630  16-04-1677    2000-01-01          False
...            ...           ...            ...
273984  06-03-1676    2000-01-01          False
273985  23-03-1676    2000-01-01          False
273986  28-03-1676    2000-01-01          False
273987  05-04-1676    2000-01-01          False
273988  20-04-1676    2000-01-01          False

[376 rows x 15 columns]

In [102]:
import pyodbc as db  # SQL Server
conn = db.connect('Driver={SQL Server};'
                'Server=LAPTOP-A85KI561;'
               'Server=SQLServer-PC;'
               'Database=ShipsAndTrips;'
                'Trusted_Connection=yes;')
cursor = conn.cursor()
cursor.execute("SELECT @@VERSION;")
row = cursor.fetchone()
print(row)

('Microsoft SQL Server 2022 (RTM) - 16.0.1000.6 (X64) \n\tOct  8 2022 05:58:25 \n\tCopyright (C) 2022 Microsoft Corporation\n\tDeveloper Edition (64-bit) on Windows 10 Home Single Language 10.0 <X64> (Build 22631: ) (Hypervisor)\n',)

In [53]:
#creating table dimship
create_table_query = '''
CREATE TABLE Dim_Ship (
    Id INT PRIMARY KEY,
    ShipName NVARCHAR(255),
    ShipType NVARCHAR(255),
    Nationality NVARCHAR(255)
    );
    '''
cursor.execute(create_table_query)
conn.commit()

In [57]:
#inserting data
for index,row in dimship.iterrows():
    cursor.execute("""
        INSERT INTO Dim_Ship(Id,ShipName,ShipType,Nationality)
        VALUES(?,?,?,?)
        """,
                   row['ID'],row['ShipName'],row['ShipType'],row['Nationality']
                  )
    conn.commit()

In [116]:
create_table_query = '''
CREATE TABLE Fact_Trip (
    FactTripID INT PRIMARY KEY,
    DimShipId INT,
    StringDate NVARCHAR(20),
    PosCoastal INT,
    LatInd INT,
    LonInd INT,
    FOREIGN KEY (DimShipId) REFERENCES Dim_Ship(Id)
);
'''
cursor.execute(create_table_query)
conn.commit()

In [120]:
#inserting data into Fact_Trip
for index,row in facttrip.iterrows():
    cursor.execute("""
    INSERT INTO Fact_Trip(FactTripID,DimShipID,StringDate,PosCoastal,LatInd,LonInd)
    VALUES(?,?,?,?,?,?)
    """,
                   row['FactTripID'],
                   row['DimShipID'],
                   row['StringDate'],
                   row['PosCoastal'],
                   row['LatInd'],
                   row['LonInd']
                  )
    conn.commit()